/* .body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form input {
    padding: 5px;
} */

.registrate {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px;
}

.header {
    width: 100%;
    align-self: flex-start;
}

.header img {
    width: 112px;
    height: 22px;
    object-fit: cover;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.footer__elem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

.footer__elem span {
    color: rgba(13, 14, 16, 0.7);
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    max-width: 750px;

    text-align: center;
}

.resgistrate__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resgistrate__body>h2 {
    color: #151B26;
    font-family: "Roboto";
    font-weight: normal;
    font-size: 33px;
    margin-bottom: 32px;
}

/* 
.registrate__infoes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.registrate__infoes__item {
    display: flex;
    align-items: center;
    gap: 14px;
}

.registrate__infoes__item img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.registrate__infoes__item span {
    color: rgba(13, 14, 16, 0.7);
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    max-width: 200px;
} */

.registrate__body__main {
    width: 425px;
    display: flex;
    flex-direction: column;
}

.registrate__body__main>p {
    text-align: center;
    color: rgba(13, 14, 16, 0.7);
    font-family: "ROboto";
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    margin-bottom: 60px;
    margin-top: 16px;
}

.registrate__form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.registrate__form__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.registrate__form__item label {
    color: #6d6e6f;
    font-weight: 500;
    font-family: "Roboto";
    font-size: 13px;
    line-height: 18px;
    cursor: pointer;
}

.registrate__form__item input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #474d4f;
    border-radius: 3px;
    outline: none;
    font-family: "Roboto";
    color: #222b37;
}

.registrate__form__item input::placeholder {
    font-family: "Roboto";
    color: #37414e;
}

.registrate__form>button {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
    color: white;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #0D0E10;
    padding: 7px;
    cursor: pointer;
    margin-top: 10px;
}

.registrate__form>button:active {
    background-color: #0d0e10d5;
}

.registrate__form__item p {
    color: red;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
}

.err {
    border: 1px solid red;
}