.inbox_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1e1f21;
}

.inbox_header {
    padding: 10px 24px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-bottom: 1px solid #424244;
}

.inbox__title {
    font-family: "Roboto";
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: #f5f4f3;
}

.inbox_links {
    margin-top: 3px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.links,
.links__active {
    color: #a2a0a2;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    padding-bottom: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.line {
    width: 1px;
    height: 16px;
    background-color: #424244;
    margin-bottom: auto;
}

.links__active,
.links:hover {
    color: #f5f4f3;
    box-shadow: inset 0 -2px #a2a0a2;
    transition: 0.2s;
}

.inbox__outlet {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}