.archive_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.archive_structure {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 15px 24px;
    border-bottom: 1px solid #424244;
}

.archive__item {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border-radius: 6px;
    padding: 0 8px;
    height: 100%;
    border: 1px solid transparent;
    background-color: transparent;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 500;
    line-height: 28px;
    color: #a2a0a2;
    transition: 0.2s;
}

.archive__item:hover {
    background-color: rgba(255, 255, 255, 0.06);
    transition: 0.2s;
}

.archive__pane {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.archive__elem {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.archive__elem h3 {
    font-family: "Roboto";
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    color: #f5f4f3;
}

.archive__elem p {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #f5f4f3;
}

.archive__elem button {
    font-family: "Roboto";
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    color: #f5f4f3;
    border: 1px solid transparent;
    background-color: #4573d2;
    padding: 0 12px;
    cursor: pointer;
    border-radius: 6px;

}