/* .asside__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
} */

/* .asside__top:hover .asside__button {
    opacity: 1;
    transition: 0.2s;
} */

/* .asside__button {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    opacity: 0;
    transition: 0.2s;
} */

/* .asside__title {
    font-size: 14px;
    line-height: normal;
    font-family: "Roboto";
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    color: #f5f4f3;
    margin-right: auto;
    cursor: grab;
} */

/* .asside__plus {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.2s;
    z-index: 3;
} */

/* .asside__plus:hover,
.asside__button:hover {
    background-color: rgba(255, 255, 255, 0.06);
} */

/* .asside__plus:hover path,
.asside__button:hover path {
    fill: #FFF;
    transition: fill 0.2s;
} */

/* .asside__button img {
    width: 100%;
    height: 100%;
} */

/* .asside__bottom {
    padding: 0 20px;
    padding-right: 0;
    margin: 8px 0;
    position: relative;
} */

/* .asside__button svg {
    transition: 0.2s;
} */

/* .rotate {
    transform: rotate(-90deg);
    transition: 0.2s;
} */

/* .asside__btn {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 4px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;
    margin-left: -4px;
}

.asside__btn img {
    opacity: 0;
    transition: 0.2s;
}

.asside__btn:hover {
    background-color: rgba(255, 255, 255, 0.06);
    transition: 0.2s;
}

.asside__btn:hover img {
    opacity: 1;
    transition: 0.2s;
} */