.portfel_wrap{
    background-color: #1e1f21;
    font-family: 'Roboto';
    width: 100%;
    overflow-y: scroll;
}

.portfel_header{
    padding: 24px;
    width: 100%;
    border-bottom: 1px solid gray;
    color: #fff;
    position: fixed;
    background-color: #1e1f21;
}