.wrap{
    width: 1100px;
    margin: 0 auto;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logo{
    width: 23px;
}

.title{
    display: flex;
    column-gap: 5px;
    align-items: center;
    padding: 10px 10px;
}

.registration{
    width: 500px;
    margin: 150px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.registration_inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.input{
    padding: 10px;
    border-radius: 4px;
    border-width: 1px;
    width: 100%;
}

.registration_button{
    width: 200px;
    padding: 10px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}
.registration_button:hover{
    background-color: #333232;
}

.politik{
    font-size: 12px;
    color: gray;
    cursor: pointer;
}

footer{
    width: 700px;
    margin: 5px auto;
    display: flex;
    column-gap: 100px;
    justify-content: center;

}

.language{
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.language_photo{
    width: 15px;
}

