



.current_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.current_body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 15px 24px;
    border-bottom: 1px solid #424244;
}

.current_items {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border-radius: 6px;
    padding: 0 8px;
    height: 100%;
    transition: 0.2s;
}

.current_items:hover {
    background-color: rgba(255, 255, 255, 0.06);
    transition: 0.2s;
}

.current__active {
    margin-left: auto;
}

.current_items p {
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 500;
    line-height: 28px;
    color: #a2a0a2;
}

.current_items img {
    width: 15px;
}

.current_parent {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-y: auto;
}

.current__elem {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.current__elem img {
    width: 400px;
    height: 200px;
}

.current__elem h3 {
    font-family: "Roboto";
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    color: #f5f4f3;
}

.current__elem p {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #f5f4f3;
}