.current_wrap{
    width: 100%;
}

.current_structure{
    display: grid;
    grid-template-columns: 90px 3fr 1fr 35px;
    padding: 15px 24px;
    border-bottom: solid 1px rgb(224, 221, 221);
    color: #6D6E6F;
}
.current_structure img{
    width: 15px;
}
.current_items{
    display: flex;
    column-gap: 5px;
    justify-self: start;
    font-size: 12px;
    padding: 5px;
    border: solid 1px transparent;
}
.current_items:nth-child(3){
    justify-self:end;
}
.current_items:hover{
    background-color: #f5f6fac7;
    border: solid 1px #f5f6fac7;
    border-radius: 7px;
    cursor: pointer;
}

.current_pane{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    width: 740px;
    margin: 100px auto;
}
.current_pane img{
    width: 400px;
}
.current_pane >*{
    color: #1E1F21;
}
.current_pane h3{
    font-size: 30px;
}

