/* .asside {
    background-color: #2e2e30;
    width: 240px;
    height: 100%;
    display: flex;
    flex-direction: column;
} */

/* .asside__top {
    padding: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.11);
} */

/* .asside__middle {
    padding: 12px 3px;
    padding-right: 12px;
    width: 100%;
    max-height: 100%;
    min-height: 1px;
    overflow-y: auto;
}

.asside__middle::-webkit-scrollbar {
    width: 5px;
}

.asside__middle::-webkit-scrollbar-thumb {
    background-color: #a2a0a2;
    border-radius: 20px;
}

.asside__middle::-webkit-scrollbar-track {
    background-color: transparent;
} */



/* .starred {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
} */

/* .starred img {
    width: 18px;
    height: 18px;
    object-fit: cover;
} */

/* .bob {
    font-family: "Roboto";
    font-size: 14px;
    line-height: normal;
    color: #a2a0a2; */
/* } */

/* .asside__bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.11);
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: auto;
} */

/* .asside__bottom span {
    height: 24px;
    width: 1px;
    background-color: #6a696a;
} */

/* .asside__det {
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 6px;
    border: 1px solid transparent;
    background-color: transparent;
    padding: 0 12px;
    cursor: pointer;
    transition: 0.2s;
} */

/* .asside__det:hover {
    background-color: rgba(255, 255, 255, 0.06);
    transition: 0.2s;
} */

/* .asside__det img {
    width: 20px;
    height: 20px;
    object-fit: cover;
} */

/* .asside__det p {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    color: #f5f4f3;
} */

/* .message {
    font-family: "Roboto";
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: #a2a0a2;
    margin: 8px 12px 4px;
} */