/* .burger {
    width: 28px;
    height: 28px;
    border: 1px solid transparent;
    background-color: transparent;
    padding: 5px;
    border-radius: 6px;
    transition: 0.2s;
    cursor: pointer;
}

.burger:hover {
    background-color: rgba(255, 255, 255, 0.06);
    transition: 0.2s;
} */

/* .burger img {
    width: 100%;
    height: 100%;
} */

/* .header__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
} */

/* .header {
    background-color: #2e2e30;
    border-bottom: 1px solid rgba(255, 255, 255, 0.11);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 22px;
    padding-right: 10px;
    width: 100%;
} */

/* .header__create {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #6a696a;
    background-color: transparent;
    user-select: none;
    padding: 6px;
    padding-right: 8px;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
    overflow: hidden;
} */

/* .header__create:hover:before {
    background-color: #ffffff3b;
    transition: 0.2s;
} */

/* .header__create::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: 0.2s;
} */

/* .header__create img {
    width: 20px;
    height: 20px;
} */

/* .header__create p {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #f5f4f3;
} */

/* .header__search {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3d3e40;
    border-radius: 16px;
    border: 1px solid #6a696a;
    padding: 0 16px;
    height: 32px;
    gap: 5px;
    caret-color: white;
    width: 100%;
} */

/* .header__search input {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    outline: none;
} */

/* .header__search input,
.header__search input::placeholder {
    font-family: "Roboto";
    font-size: 14px;
    line-height: 22px;
    user-select: none;
    color: #a2a0a2;
} */

/* .header__search:focus-within {
    outline: 1px solid white;
} */

/* .header__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    width: 100%;
} */

/* .header__det {
    display: flex;
    align-items: center;
    gap: 12px;
} */

/* .header__det p {
    font-family: "Roboto";
    font-size: 12px;
    line-height: 18px;
    color: #f5f4f3;
} */

/* .header__det button {
    font-family: "Roboto";
    background-color: #f1bd6c;
    padding: 0 8px;
    border: 1px solid transparent;
    border-radius: 6px;
    font-size: 12px;
    cursor: pointer;
    color: #1e1f21;
    line-height: 26px;
} */

/* .header__profile {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    gap: 3px;
} */

/* .header__profile img:first-child {
    width: 28px;
    height: 28px;
    background-color: #cd95ea;
    border-radius: 50%;
    object-fit: cover;
} */
/* 
.title {
    background-color: #3d3120;
    margin-top: -4px;
    padding: 4px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
} */

/* .title p {
    font-family: "Roboto";
    font-size: 14px;
    line-height: 30px;
    color: #f1bd6c;
} */

/* .title a {
    color: #a2a0a2;
    font-family: "Roboto";
    font-size: 14px;
    cursor: pointer;
} */
/* 
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 12px;
} */

/* .body img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    background-color: #cd95ea;
    border-radius: 50%;
    margin-bottom: 8px;
} */

/* .body h1 {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #f5f4f3;
    text-align: center;
} */

/* .body h2 {
    font-family: "Roboto";
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    color: #a2a0a2;
} */