.table_structure{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 24px;
    color: #6D6E6F;
    font-size: 12px;
}
.table_structure img{
    width: 12px;
}

.addTask{
    display: flex;
    column-gap: 2px;
}

.addTaskBtn{
    display: flex;
    align-items: center;
    column-gap: 3px;
    background-color: #4573D7;
    border: none;
    border-radius: 6px 0 0 6px;
    padding: 3px 8px 3px 3px;
    cursor: pointer;
    transition: all .3s;
}
.addTaskBtn:hover{
    background-color: #3d66c1;
}

.plusImg{
    fill: #fff;
    width: 20px;
}

.addTaskP{
    font-size: 12px;
    color: #fff;
}

.arrowImg{
    background-color: #4573D7;
    padding: 4px;
    width: 20px;
    fill: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.arrowImg:hover{
    background-color: #3460c1;
}

.wrap_items{
    display: flex;
    column-gap: 15px;
}

.table_items{
    display: flex;
    column-gap: 5px;
    padding: 5px;
    border: solid 1px transparent;
    cursor: pointer;
}
.table_items:hover{
    background-color: #f5f6fac7;
    border: solid 1px #f5f6fac7;
    border-radius: 7px;
}
