* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.asside__scrollBar::-webkit-scrollbar {
    width: 5px;
}

.asside__scrollBar::-webkit-scrollbar-thumb {
    background-color: #a2a0a2;
    border-radius: 20px;
}

.asside__scrollBar::-webkit-scrollbar-tr {
    background-color: transparent;
}

.main__right__scrollbar {
    scrollbar-color: #4c4e51 #343638;
}

@tailwind base;
@tailwind components;
@tailwind utilities;